{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "@emotion"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "env": {
    "node": true
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "airbnb-typescript",
    "prettier"
  ],
  "rules": {
    "@emotion/no-vanilla": "error",
    "@emotion/import-from-emotion": "error",
    // "camelcase": "off",
    "func-names": "off",
    // "jest/prefer-strict-equal": "error",
    // "jest/prefer-to-have-length": "warn",
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "no-return-assign": "off",
    // "prettier/prettier": "error",
    "react/button-has-type": "off",
    "react/function-component-definition": [
      // components의 funciton-declaration 해제
      "error",
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off", // 맨 위에 React 선언 안해도 됨
    "react/jsx-filename-extension": [1, { "extensions": [".ts", ".tsx"] }],
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off",
    // "react/jsx-fragments": "off",
    "react/jsx-sort-props": [
      "warn",
      {
        "callbacksLast": true,
        "shorthandLast": true,
        "ignoreCase": true,
        "reservedFirst": true
      }
    ], // jsx components의 Attribute를 정렬
    "import/prefer-default-export": "off",
    "import/order": [
      "warn",
      {
        "groups": ["builtin", "external", ["parent", "sibling"], "index"],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "newlines-between": "always"
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.test.[jt]s",
          "**/*.spec.[jt]s",
          "**/*.test.[jt]sx",
          "**/*.spec.[jt]sx"
        ]
      }
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never",
        "tsx": "never",
        "js": "never",
        "jsx": "never"
      }
    ],

    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-var-requires": "off",
    "consistent-return": "off",
    "no-use-before-define": [0],
    "@typescript-eslint/no-use-before-define": [1],
    // "import/no-anonymous-default-export": "off",
    "import/no-unresolved": 0,
    "quotes": "off",
    "@typescript-eslint/quotes": [
      2,
      "backtick",
      {
        "avoidEscape": true
      }
    ],
    "@typescript-eslint/no-unused-vars": "off"
  }
}
