@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 900;
  src: url('../assets/fonts/NotoSansKR-Black.otf') format('woff2'),
    url('../assets/fonts/NotoSansKR-Black.otf') format('woff'),
    url('../assets/fonts/NotoSansKR-Black.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 700;
  src: url('../assets/fonts/NotoSansKR-Bold.otf') format('woff2'),
    url('../assets/fonts/NotoSansKR-Bold.otf') format('woff'),
    url('../assets/fonts/NotoSansKR-Bold.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 500;
  src: url('../assets/fonts/NotoSansKR-Medium.otf') format('woff2'),
    url('../assets/fonts/NotoSansKR-Medium.otf') format('woff'),
    url('../assets/fonts/NotoSansKR-Medium.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 400;
  src: url('../assets/fonts/NotoSansKR-Regular.otf') format('woff2'),
    url('../assets/fonts/NotoSansKR-Regular.otf') format('woff'),
    url('../assets/fonts/NotoSansKR-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 300;
  src: url('../assets/fonts/NotoSansKR-Light.otf') format('woff2'),
    url('../assets/fonts/NotoSansKR-Light.otf') format('woff'),
    url('../assets/fonts/NotoSansKR-Light.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 100;
  src: url('../assets/fonts/NotoSansKR-Thin.otf') format('woff2'),
    url('../assets/fonts/NotoSansKR-Thin.otf') format('woff'),
    url('../assets/fonts/NotoSansKR-Thin.otf') format('truetype');
}

* {
  box-sizing: 'border-box';
  font-family: 'Noto Sans KR';
}

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
} */

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  min-height: 'calc(100vh - 6rem)';
}

a {
  color: unset;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR';
}
